ECW_URL=ebo report link
ECW_USERNAME=ecw username
ECW_USER_PASSWORD=ecw password
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=sender email
SMTP_PASS=app password
EMAIL_MAP={"Dr.name":"dremail@example.com",}
CC_mail=optional_global_cc@example.com
BCC_mail=optional_global_bcc@example.com
CC_MAP={"Dr.name":"cc1@example.com,cc2@example.com"}
