ECW_URL=https://txclstf6p3vy7rz5judqcxebo.ecwcloud.com/bi/?perspective=classicviewer&id=iC8E19407871A42F7A1E3F0F1F42370A3&objRef=iC8E19407871A42F7A1E3F0F1F42370A3&action=run&format=HTML&prompt=true&cmPropStr=%7B%22id%22%3A%22iC8E19407871A42F7A1E3F0F1F42370A3%22%2C%22type%22%3A%22report%22%2C%22defaultName%22%3A%224.28%20-%20Actions%20Report%22%2C%22permissions%22%3A%5B%22execute%22%2C%22read%22%2C%22setPolicy%22%2C%22traverse%22%2C%22write%22%5D%7D
ECW_USERNAME=ecw username
ECW_USER_PASSWORD=ecw password
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=sender email
SMTP_PASS=app password
EMAIL_MAP={"Dr.name":"dremail@example.com",}
